<div class="vertical-menu">
  <a href="about/index" class="active">Home</a>
  <a href="/characters">Characters</a>
  <a href="/issues">Issues</a>
  <a href="/volumes">Volumes</a>
</div>
<h1><%= @volume.name  %></h1>
<img src = <%= @volume.image%> alt="volume image">
<p>Brief Summary: <%= @volume.description %></p>
<p>Start Year: <%@volume.start_year%></p>