
<h1>Listing Issue</h1>
<div class="vertical-menu">
  <a href="about/index" class="active">Home</a>
  <a href="/characters">Characters</a>
  <a href="/issues">Issues</a>
  <a href="/volumes">Volumes</a>
</div>
<table>
  <tr>
    <th>Issue Name</th>
    <th></th>
  </tr>

  <% @issues.each do |i| %>
    <tr>
      <td><%= link_to i.name, i %></td>
    </tr>
  <% end %>
</table>
<%= paginate @issues %>

