<h1>About this Web Application</h1>
<p>Your one stop places for all information about Comic Characters</p>

<div class="vertical-menu">
  <a href="about/index" class="active">Home</a>
  <a href="/characters">Characters</a>
  <a href="/issues">Issues</a>
  <a href="/volumes">Volumes</a>
</div>

<h2>What will you find here?</h2>
<p>Comic characters</p>
<ul>
    <li>Name</li>
    <li>Brief description</li>
    <li>First Appearance</li>
</ul>

<p>Issue Info</p>
<ul>
    <li>Name</li>
    <li>Description</li>
    <li>Cover Date</li>
    <li>Volume Credit</li>
</ul>

<p>Volume Info</p>
<ul>
    <li>Name</li>
    <li>Description</li>
    <li>Issue count</li>
    <li>Start Year</li>
</ul>
<p>All credits goes to Comic Vines API</p>